@using AngleSharp

@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Card name: @cardName</p>

<button class="btn btn-primary" @onclick="@(async() => await IncrementCount())">Click me</button>

@code {
    private string cardName = "";
}

@functions {
    async Task IncrementCount()
    {
        var config = Configuration.Default.WithDefaultLoader();
        using var context = BrowsingContext.New(config);
        using var doc = await context.OpenAsync("https://www.ligamagic.com.br/?view=cards/card&card=platinum%20angel");
        //cardName = doc.QuerySelector("p.nome-principal").GetAttribute("title");
        cardName = doc.DocumentElement.QuerySelector("p.nome-principal > span").InnerHtml;
    }
}
